@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --White: #fff;
    --textColor: #4c4486;
    --main: linear-gradient(
      to left bottom,
      #7d62f2,
      #7f65ee,
      #8168ea,
      #836ae6,
      #856de2,
      #8a6cdc,
      #8f6bd6,
      #936ad0,
      #9a65c7,
      #9f60be,
      #a45bb5,
      #a757ac
    );
}

body {
    overflow-x: hidden;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100%;
    height: auto;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 2rem;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
    color: white;
    background: var(--main);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    margin: 0rem auto 2rem auto;
}

.menu.active {
    transform: translateX(0%);
}

.burger {
    width: 3.8rem;
    height: 3.8rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    align-items: flex-end;
    transition: all 0.3s ease-in-out;
}

.burger.active {
    z-index: 10;
  }
  
.burger.active > span {
    background: white;
}
  
.burger span {
    width: 100%;
    height: 0.3rem;
    border-radius: 0.5rem;
    background: var(--main);
    transition: all 0.3s ease-in-out;
}
  
.burger span:nth-child(2) {
    width: 80%;
}
  
.burger span:nth-child(3) {
    width: 60%;
}
  
.burger.active > span:nth-child(1) {
    transform: rotate(-45deg) translateY(1rem) translateX(-0.1rem);
    width: 80%;
}
  
.burger.active > span:nth-child(2) {
    transform: rotate(45deg) translateY(-0.8rem) translateX(0.1rem);
    width: 80%;
}
  
.burger.active > span:nth-child(3) {
    width: 0;
}
  
.menu-link {
    position: relative;
    cursor: pointer;
}

/* DESKTOP MENU */

@media only screen and (min-width: 1000px)
{
    .burger {
        display: none;
    }

    .menu {
        position: unset;
        background: inherit;
        color: var(--textColor);
        list-style: none;
        flex-direction: row;
        height: inherit;
        width: max-content;
        gap: 5rem;
        font-size: 1.2rem;
        font-weight: normal;
        align-items: center;
        transform: translateX(0);
    }
    
    .menu-link {
        font-weight: bold;
    }

    .menu-link::after {
        content: '';
        width: 0%;
        height: 0.2rem;
        background: var(--main);
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;
    }
    
    .menu-link:hover::after {
        width: 100%;
    }
    
    .menu-link:last-child {
        background: var(--main);
        padding: 0.5rem 1.5rem;
        border-radius: 1rem;
        color: var(--White);
    }
    
    .menu-link:last-child::after {
        display: none;
    }
}
